body {
    background-color: rosybrown;
  }
  
  h1 {
    background-color: rgb(155, 219, 209);
    color:rgba(15, 8, 5, 0.945);
    text-align: center;
  }
  
  
  p {
    bottom: 1px;
    background-color:rgba(241, 240, 236, 0.945);
    color: rgb(14, 8, 8);
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
  }

  blockquote{
      border-top: 1px;
      border-color: blue;
  }

  a:link {
    color: red;
  }
  a:visited {
    color: green;
  }


  .serif {
    font-family: "Times New Roman", Times, serif;
    color:rgba(241, 240, 236, 0.945);
  }
  
  .sansserif {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .monospace {
    font-family: "Lucida Console", Courier, monospace;
  }

  footer {
    height: 100px;
    background: #eee;
}

span{
    font-family: verdana;
    font-size: 15px;

  }

  blockquote{
font: 14px/20px italic Times, serif;
padding: 8px;
display: block;
background-color: #faebbc;
border-top: 1px solid #e6c867;
border-bottom: 1px solid #e1cc89;
margin: 5px;
background-position: top left;
background-repeat: no-repeat;
text-indent: 23px;
}
